<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/js/contact.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/color/color-1.css" rel="stylesheet" />
    <script src="~/js/jquery.scroller.js"></script>
    <link href="~/css/shortcodes/accordion.css" rel="stylesheet" />
    <link href="~/css/shortcodes/alert.css" rel="stylesheet" />
    <link href="~/css/shortcodes/breadcrumb.css" rel="stylesheet" />
    <link href="~/css/shortcodes/button.css" rel="stylesheet" />
    <link href="~/css/shortcodes/divider.css" rel="stylesheet" />
    <link href="~/css/shortcodes/form.css" rel="stylesheet" />
    <link href="~/css/shortcodes/icon-box.css" rel="stylesheet" />
    <link href="~/css/shortcodes/layout.css" rel="stylesheet" />
    <link href="~/css/shortcodes/list.css" rel="stylesheet" />
    <link href="~/css/shortcodes/overlay.css" rel="stylesheet" />
    <link href="~/css/shortcodes/owl.css" rel="stylesheet" />
    <link href="~/css/shortcodes/pagination.css" rel="stylesheet" />
    <link href="~/css/shortcodes/pricingtable.css" rel="stylesheet" />
    <link href="~/css/shortcodes/separator.css" rel="stylesheet" />
    <link href="~/css/shortcodes/shortcodes.css" rel="stylesheet" />
    <link href="~/css/shortcodes/widget.css" rel="stylesheet" />
    <link href="~/css/assets.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/typography.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendors/bootstrap/js/popper.min.js"></script>
    <link href="~/vendors/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/vendors/counter/counterup.min.js"></script>
    <script src="~/vendors/counter/waypoints-min.js"></script>
    <link href="~/vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/vendors/imagesloaded/imagesloaded.js"></script>
    <link href="~/vendors/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <script src="~/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/vendors/masonry/filter.js"></script>
    <script src="~/vendors/masonry/masonry.js"></script>
    <link href="~/vendors/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <script src="~/vendors/owl-carousel/owl.carousel.js"></script>
    <link href="~/vendors/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/vendors/revolution/css/navigation.css" rel="stylesheet" />
    <link href="~/vendors/revolution/css/settings.css" rel="stylesheet" />
    <script src="~/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <link href="~/vendors/scroll/scrollbar.css" rel="stylesheet" />
    <link href="~/vendors/switcher/switcher.css" rel="stylesheet" />
    <script src="~/vendors/switcher/switcher.js"></script>
   <link href="~/vendors/themify/themify-icons.css" rel="stylesheet" />



</head>


<body>

    <div>
        @RenderBody()
    </div>
</body>
<!-- Footer ==== -->
<footer>
    <div class="footer-top">
        <div class="pt-exebar">
            <div class="container">
                <div class="d-flex align-items-stretch">
                    <div class="pt-logo mr-auto">
                        <a href="index.html"><img src="assets/images/logo-white.png" alt="" /></a>
                    </div>
                    <div class="pt-social-link">
                        <ul class="list-inline m-a0">
                            <li><a href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="pt-btn-join">
                        <a href="#" class="btn ">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                    <div class="widget">
                        <h5 class="footer-title">Sign Up For A Newsletter</h5>
                        <p class="text-capitalize m-b20">Weekly Breaking news analysis and cutting edge advices on job searching.</p>
                        <div class="subscribe-form m-b20">
                            <form class="subscription-form" action="http://educhamp.themetrades.com/demo/assets/script/mailchamp.php" method="post">
                                <div class="ajax-message"></div>
                                <div class="input-group">
                                    <input name="email" required="required" class="form-control" placeholder="Your Email Address" type="email">
                                    <span class="input-group-btn">
                                        <button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Company</h5>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-1.html">About</a></li>
                                    <li><a href="faq-1.html">FAQs</a></li>
                                    <li><a href="contact-1.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Get In Touch</h5>
                                <ul>
                                    <li><a href="http://educhamp.themetrades.com/admin/index.html">Dashboard</a></li>
                                    <li><a href="blog-classic-grid.html">Blog</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="event.html">Event</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Courses</h5>
                                <ul>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="courses-details.html">Details</a></li>
                                    <li><a href="membership.html">Membership</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                    <div class="widget widget_gallery gallery-grid-4">
                        <h5 class="footer-title">Our Gallery</h5>
                        <ul class="magnific-image">
                            <li><a href="assets/images/gallery/pic1.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic1.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic2.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic2.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic3.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic3.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic4.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic4.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic5.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic5.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic6.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic6.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic7.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic7.jpg" alt=""></a></li>
                            <li><a href="assets/images/gallery/pic8.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic8.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END ==== -->
</html>
